<module>
	<rawname>call_costs_v1</rawname>
	<repo>standard</repo>
	<name>Outbound Call Costs</name>
	<version>0.0.0.1</version>
	<publisher>VoIPFlare</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>
		Set rates for outbound calls.
	</description>
  	<more-info>https://wiki.freepbx.org/display/F2/Outbound+Call+Costs+Module</more-info>
	<changelog>
		*0.0.0.1* Set rates for outbound calls.
	</changelog>
	<methods>
		<get_config pri="600">outbound_call_costs_get_config</get_config>
	</methods>
	<depends>
		<version>18.0.0.0</version>
		<module>core ge 15.0.18.6</module>
	</depends>
	<menuitems>
		<application>Outbound Call Costs</application>
	</menuitems>
	<database>
		<table name="outbound_call_costs">
			<field name="route_name" type="string" length="50"/>
			<field name="route_price" type="float"/>
			<field name="extension" type="string" length="10"/>
			<field name="extension_rate" type="float"/>
			<key field="route_name" type="PRIMARY"/>
			<key field="extension" type="PRIMARY"/>
		</table>
	</database>
	<function module="outbound_call_costs" name="outbound_call_costs_config_page">
		<args>
			<arg name="submit" type="submit" default="0"/>
		</args>
		<return>
			<output>
				<!-- GUI code for the Outbound Call Costs configuration page -->
				<h2>Outbound Call Costs Configuration</h2>
				<form action="" method="post">
					<table>
						<tr>
							<th colspan="2">Outbound Route Prices</th>
						</tr>
						<tr>
							<td>Route Name:</td>
							<td><input type="text" name="route_name" size="20"/></td>
						</tr>
						<tr>
							<td>Price per minute:</td>
							<td><input type="text" name="route_price" size="20"/></td>
						</tr>
						<tr>
							<th colspan="2">Extension Call Rates</th>
						</tr>
						<tr>
							<td>Extension:</td>
							<td><input type="text" name="extension" size="10"/></td>
						</tr>
						<tr>
							<td>Rate per minute:</td>
							<td><input type="text" name="extension_rate" size="20"/></td>
						</tr>
						<tr>
							<td colspan="2"><input type="submit" name="submit" value="Save Changes"/></td>
						</tr>
					</table>
				</form>
			</output>
		</return>
	</function>
</module>

	<popovers>
		<ivr>
			<display>ivr</display>
			<action>add</action>
			<view>form</view>
		</ivr>
 	</popovers>
 	<supported>
 		<version>16.0</version>
 	</supported>
</module>
